<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Codice{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,400italic&amp;subset=latin">
    <link rel="stylesheet" href="{{ base }}assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ base }}"><img src="{{ base }}assets/images/brand.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    {% block navbar_right %}{% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>Copyright by Codice 2017</footer>

    <script src="{{ base }}assets/js/docs.js"></script>
</body>
</html>