main.home {
    background: #fff;
    margin-top: -20px;
    width: 100%;

    h2 {
        font-weight: 300;
        text-align: center;
    }
}

main.home section {
    padding: 15px;
}

//
// #intro
//
section#intro {
    padding-left: 0;
    padding-right: 0;
}

p.intro {
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
}

div.notes {
    background: #E1F0D7;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 20px 0;
}

//
// #features
//
section#features {
    padding-bottom: 40px;

    .feature {
        padding: 15px;
        text-align: center;
    }

    .feature-text {
        //border: 3px solid #E0E0E0;
        font-size: 1.1em;
        line-height: 2em;
        padding: 10px 15px;
    }

    .feature-icon {
        font-size: 1.2em;
        font-weight: 300;
        margin-bottom: 10px;
    }
}

//
// #download
//
section#download {
    padding-bottom: 60px;

    p {
        font-size: 1.3em;
        line-height: 2em;
        margin-bottom: 20px;
        text-align: center;
    }
}

.download-button {
    margin: 0 auto;
    text-align: center;
}

.download-notes {
    color: #666;
    display: block;
    font-size: 0.9em;
    text-decoration: none;
}

.btn-xl {
    padding: 20px 32px;
    font-size: 24px;
    line-height: normal;
    border-radius: 0;
}

//
// #footer
//
section#footer {
    background: #F9F9F9;
    font-size: 1.2em;
    margin-bottom: -15px;
    text-align: center;
    word-spacing: 25px;

    a {
        color: #000;
        text-decoration: none;
        word-spacing: normal;

        &:hover {
            color: #489CD5;
        }
    }
}
